.plan{
    background: black;
    width: 100%;
    height: 100%;
}
.premium .title h1{
    font-weight: 600;
}
.premium .plans .card{
    width: 280px;
    color: white;
    background-color: #212529;
    border: 3px solid #00a6ff;
}
.premium .plans .card:hover button{
    background-color: white;
    color: black;
    font-weight: 600;
}

.premium .plans .card:hover button:hover{
    background-color: black;
    color: white;
}


.premium .plans .card:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #00a6ff;
}
.compare table tbody .fa-x{
    color: red;
}
.compare table tbody .fa-check{
    color: green;
}